{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Auto VLookup | Neptune{% endblock title %}

{% block content %}
<div class="col-lg-8 d-flex flex-column">
    <div class="row flex-grow">
      <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="d-sm-flex justify-content-between align-items-start">
              <div>
               <h4 class="card-title card-title-dash">Please log in to your account.</h4>
               <h5 class="card-subtitle card-subtitle-dash"></h5>
              </div>
              <div id="performance-line-legend">
              </div>
            </div>
            <!-- start -->
            <div class="form-group px-4">
               
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1"></label>
                  <!-- <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
                  {% if form.email.errors %}
                      <div class="alert alert-danger">{{ form.email.errors }}</div>
                  {% endif %}
                  {{ form.email }}
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1"></label>
                  {{ form.password }}
                  <!-- <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                </div>
                <div class="form-check">
                  
                </div>
                <button type="submit" class="read-more">Submit</button>
              </form>
                 
                  
                  
                </div>
                <!-- end -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
