{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Register | Neptune{% endblock title %}

{% block content %}
<div class="col-lg-8 d-flex flex-column">
    <div class="row flex-grow">
      <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="d-sm-flex justify-content-between align-items-start">
              <div class="form-group px-4">
                <br />
               <h4 class="card-title card-title-dash">Register</h4>
               <h5 class="card-subtitle card-subtitle-dash">
                 <div class="alert alert-danger" role="alert">
                   <strong>Warning!</strong> This feature is currently disabled.
               </h5>
              </div>
              <div id="performance-line-legend">
              </div>
            </div>
            <!-- start -->
            <div class="form-group col-md-6 px-4">
              <div class="sent-message text-success col-md-6">
                {% include 'snippets/messages.html' %}
              </div>
              <form>
                {% csrf_token %}
                
                
                <br />
                <div class="form-group py-2"> {{ form.email }}</div>
                <div class="form-group py-2"> {{ form.username }}</div>
                <div class="form-group py-2"> {{ form.password1 }}</div>
                <div class="form-group py-2"> {{ form.password2 }}</div>
                <div class="form-group py-2"> {{ form.first_name }}</div>
                <div class="form-group py-2"> {{ form.last_name }}</div>
                <br />
                <button type="submit" class="btn btn-primary btn-lg" style="width: 150px;">Register</button>
              </form>
                 
                  
                  
                </div>
                <!-- end -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
