{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  {% if user.is_authenticated %}
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item nav-category">Tools</li>
          <li class="nav-item {% if nav_shopify_active or nav_vlookup_active == True %}active{% endif %}">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="{% if nav_shopify_active or nav_vlookup_active == True %}true{% else %}false{% endif %}" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Automate CSV</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse {% if nav_shopify_active or nav_vlookup_active == True %}show{% endif %}" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link {% if nav_shopify_active == True %}active{% endif %}" href="{% url 'shopifyscraper' %}">Shopify Scraper</a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_vlookup_active == True %}active{% endif %}" href="{% url 'autoretrieve' %}">Auto VLookup</a></li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">APIv3</li>
          <li class="nav-item {% if nav_utoken_active == True %}active{% endif %}">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="{% if nav_utoken_active == True %}true{% else %}false{% endif %}" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Utoken</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if nav_utoken_active == True %}show{% endif %}" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link {% if nav_utoken_active == True %}active{% endif %}" href="{% url 'gettoken' %}">Generate Utoken</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if nav_order1_active or nav_order2_active == True %}active{% endif %}">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="{% if nav_order1_active or nav_order2_active == True %}true{% else %}false{% endif %}" aria-controls="charts">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if nav_order1_active or nav_order2_active == True %}show{% endif %}" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link {% if nav_order1_active == True %}active{% endif %}" href="{% url 'send' %}">Send Orders</a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_order2_active == True %}active{% endif %}" href="{% url 'display' %}">View Orders</a></li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item {% if nav_prod1_active == True or nav_prod2_active == True or nav_prod3_active == True %}active{% endif %}">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="{% if nav_prod1_active == True or nav_prod2_active == True or nav_prod3_active == True %}true{% else %}false{% endif %}" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if nav_prod1_active or nav_prod2_active or nav_prod3_active == True %}show{% endif %}" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link {% if nav_prod1_active == True %}active{% endif %}" href="{% url 'catalogdisplay' %}">View Product Catalog</a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_prod2_active == True %}active{% endif %}" href="{% url 'catalogadd' %}">Add Product</a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_prod3_active == True %}active{% endif %}" href="{% url 'catalogupdate' %}">Update Product Catalog</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if nav_store1_active or nav_addtoken_active or nav_store2_active == True %}active{% endif %}">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="{% if nav_store1_active or nav_addtoken_active or nav_store2_active == True %}show{% endif %}" aria-controls="icons">
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Validate Token</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if nav_store1_active or nav_addtoken_active or nav_store2_active == True %}show{% endif %}" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link {% if nav_store1_active == True %}active{% endif %}" href="{% url 'removetoken' %}">Remove Token</a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_addtoken_active == True %}active{% endif %}" href="{% url 'addtoken' %}">Add Token</a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_store2_active == True %}active{% endif %}" href="{% url 'storeview' %}">View Token</a></li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Profile</li>
          <li class="nav-item {% if nav_profile1 or nav_profile2 == True %}active{% endif %}">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="{% if nav_profile1 or nav_profile2 == True %}true{% else %}false{% endif %}" aria-controls="auth">
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if nav_profile1 or nav_profile2 == True %}show{% endif %}" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link {% if nav_profile1 == True %}active{% endif %}" href="{% url 'update' %}"> Update Profile </a></li>
                <li class="nav-item"> <a class="nav-link {% if nav_profile2 == True %}active{% endif %}" href="{% url 'logout' %}"> Logout </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Contact</li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Report Bugs</span>
            </a>
          </li>
        </ul>
        {% endif %}
      </nav>