{
    "url_id": 200025469,
    "created_at": "2020-11-12T20:18:01",
    "updated_at": "2022-02-20T20:09:09",
    "external_id": "5922636857498",
    "name": "MSI GE66 Raider Gaming Laptop",
    "description": "The best gaming machine for me Forever!",
    "status": "active",
    "url": "http://laptopmio.myshopify.com/products/msi-ge66-10sfs-072-raider",
    "image_url": "https://cdn-url-images-production.url.com/Product/203881536/143916731/original.jpg?1643775468",
    "price": 209000.0,
    "compare_at_price": 155000.0,
    "currency": "PHP",
    "inventory_quantity": 5,
    "is_discontinued": false,
    "group_name": "gaming_machine",
    "brand": "MSI",
    "sku": "MSIGE662022",
    "mpn": "MSIGE662022",
    "handle": "msi-ge66-10sfs-072-raider",
    "custom_properties": {
        "is_blocklisted": false,
        "review_form_tag": null
    },
    "external_created_at": "2020-11-12T17:50:30",
    "external_updated_at": "2022-02-02T05:24:57",
    "store_id": "pX24FKZoDxZliIxSRQQyJJpC4RFUyRNePwdgWzv5",
    "is_valid_url_format": true,
    "gtins": [
        {
            "declared_type": "UPC",
            "value": "MSIGE662022",
            "detected_type": null
        }
    ]
}