<h2 style="margin: 50px auto; width: 100%; text-align: center;">Our Reviews</h2>
        <h4 style="margin: 50px auto; width: 100%; text-align: center;"><a href="{% url 'api_reviews' %}">My Widgets</a></h4>
<script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,
        e.src="//staticw2.yotpo.com/pX24FKZoDxZliIxSRQQyJJpC4RFUyRNePwdgWzv5/widget.js";var t=document.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e,t)})();
    </script>
    <div id='yotpo-testimonials-custom-tab'></div>