{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Send Orders | Neptune{% endblock title %}

{% block content %}

<div class="col-lg-8 d-flex flex-column">
    <div class="row flex-grow">
      <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="d-sm-flex justify-content-between align-items-start">
              <div class="form-group px-4">
                <br />
               <h4 class="card-title card-title-dash">SEND ORDERS APIv3</h4>
               <h5 class="card-subtitle card-subtitle-dash">This tool will allow you to send your orders to Yotpo and trigger the review requests.</h5>
              </div>
              <div id="performance-line-legend">
              </div>
            </div>
            <!-- start -->
            <div class="form-group px-4">
               
                    <div class="sent-message text-success">
                      {% include 'snippets/messages.html' %}
                    </div>
                      <div class="form-group mt-3 py-3 ">
                        <div class="form-group">
                          <h5 class="card-title card-title-dash">Step 1. Download the template.</h5>
                          <p>IMPORTANT: All fields are required.
                          </p>
                          {% if template.order_template %}
                          <a href="{{template.order_template.url}}" download="{{template.order_template.url}}">
                            <img class="mr-2" src="{% static 'images/csv_icon.png' %}" style="width: 40px" alt="Order Template" title="Order Template"></a>
                          {% endif %}
                          </div>
                      </div>
                      <hr />
                      <form action="{% url 'uploadcsv' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-group mt-3 py-3 pr-4">
                        <h5 class="card-title card-title-dash">Step 2. Upload CSV.</h5>
                        {{form.as_p}}
                      </div>
                      <div class="text-end pb-4">
                        <button type="submit" class="btn btn-primary btn-icon-text" style="width: 150px;">Upload CSV</button>
                        <a href="{% url 'resetorder' %}" class="btn btn-secondary btn-icon-text" style="width: 150px;">Reset</a></div>
                      </form>
                      
                      <hr />
                      
                          <form action="{% url 'send' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mt-3 py-3 pr-4">
                              <h5 class="card-title card-title-dash">Step 3. Input your App key and Secret Key.</h5>
                                <div class="form-group pt-4">
                                    <label for="exampleFormControlFile1">App Key:</label>
                                    {{ keyform.appkey }}
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Secret Key:</label>
                                    {{ keyform.secretkey }}
                                </div>
                            </div>
                              
                          <div class="form-group mt-3 py-3 pr-4">
                            <h5 class="card-title card-title-dash">Step 4. Send the orders.</h5>
                            <p>Please click the button to submit your orders.</p>
                              
                          </div>
                          <div class="text-end pb-4">
                            <button type="submit" class="btn btn-primary btn-icon-text" style="width: 150px;">Submit Orders</button>
                            <a href="{% url 'cancelorder' %}" class="btn btn-secondary btn-icon-text" style="width: 150px;">Cancel Orders</a>
                          
                          </div>
                        </form>  
                     
            
            </div>
                <!-- end -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
